// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.pagination {
  margin: 0;
}

[v-cloak] {
  display: none;
}

ul.tree {
  list-style-type: none;

  li {
    list-style-type: none;
    border-left: 2px solid #333;
    margin-left: 1em;

    div {
      padding-left: 1em;
      position: relative;
    }

    div:before {
      content: '';
      position: absolute;
      top: 0;
      left: -2px;
      bottom: 50%;
      width: 0.75em;
      border: 2px solid #000;
      border-top: 0 none transparent;
      border-right: 0 none transparent;
    }
  }

  li:last-child {
    border-left: 2px solid transparent;
  }
}

.product-list {
  .product-item {
    white-space: normal;
    height: 150px;

    .product-name {

    }
  }
}

.table.table-middle {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.sidebar {
  .nav-second-level {
    li {
      a {
        padding-left: 60px;
      }
    }
  }
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: relative;
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 18px;
  float: left;
  margin-left: -1em;
  color: #FFF;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

#toast-container > .toast-warning:before {
  content: "\f071";
}

#toast-container > .toast-error:before {
  content: "\f06a";
}

#toast-container > .toast-info:before {
  content: "\f0eb";
}

#toast-container > .toast-success:before {
  content: "\f00c";
}

#toast-container > div {
  opacity: 0.9;
}

table#sales-summary-table {
  .table {
    background: none;
    margin: 0;

    tbody {
      tr {
        td {
          padding: 0;
        }
      }
    }
  }

  tr {
    td {
      height: 53px;
      vertical-align: middle;
      border: none;

      .sales-info {
        text-align: left;
        margin: 0;
      }
    }

    td:first-child {
      width: 75%;
    }

    td:last-child {
      text-align: right;
    }
  }

  tr.separator {
    td {
      height: 5px;
      font-size: 0;
    }
  }

  tr#summary-grand-total {
    font-size: 30px;

    td {
      text-align: center;
    }
  }

  tr.dashed {
    & > td {
      border: 1px dashed #D0D3D8;
    }

    & > td:first-child {
      border-left: none;
    }

    & > td:last-child {
      border-right: none;
    }
  }
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0px;
  }
}